* {
  font-family: 'Museo Sans Cyrl', sans-serif; }

.container {
  max-width: 950px;
  margin: 0 auto; }

body {
  margin: 0 auto; }

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/bg1.png) center center/cover no-repeat; }
  .promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 90px; }
  .promo__header {
    margin: 17px 0 0 0;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 42px; }
  .promo__subheader {
    margin-top: 17px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 24px; }
  .promo__icons {
    margin-top: 65px;
    width: 425px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .promo__icon {
    width: 108px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff; }
    .promo__icon img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px; }
  .promo__link {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 18px; }
    .promo__link a {
      text-decoration: underline;
      text-transform: uppercase;
      color: #ffffff; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__logo {
    width: 250px; }
    .header__logo img {
      width: 100%; }
  .header__official {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff; }
    .header__official span {
      display: block;
      font-size: 18px;
      text-align: center; }
  .header__phone {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5px; }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.button {
  width: 150px;
  height: 30px;
  background-color: #c70101;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff; }
  .button_main {
    width: 300px;
    height: 50px;
    font-size: 16px;
    margin-top: 67px; }

.us {
  min-height: 475px;
  padding: 70px 0 80px 0;
  background-color: #f6f6f6; }
  .us__header {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #0d0d0d;
    text-align: center; }
  .us__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 63px; }
  .us__pic {
    width: 247px;
    text-align: center; }
  .us__subheader {
    font-size: 18px;
    font-weight: 700;
    color: #0d0d0d;
    margin-top: 40px; }
  .us__text {
    margin-top: 23px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #0d0d0d; }
    .us__text span {
      text-decoration: underline;
      color: #c70101; }

@media (max-width: 991px) {
  .container {
    width: 80%; }

  .header__official {
    font-size: 16px; }
    .header__official span {
      font-size: 20px; }

  .promo__header {
    font-size: 38px; }
  .promo__subheader {
    font-size: 22px; }
  .promo__icon {
    font-size: 15px; } }
@media (max-width: 767px) {
  .header__official {
    font-size: 14px;
    text-align: center; }
    .header__official span {
      font-size: 16px; }
  .header__phone {
    font-size: 17px; }

  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .promo__header {
    font-size: 42px; }
  .promo__subheader {
    font-size: 24px; }
  .promo__icons {
    width: 440px; }
  .promo__icon {
    font-size: 18px; } }
@media (max-width: 575px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header__official {
      display: none; }
    .header__phone {
      font-size: 16px; }
    .header__contacts {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__logo img {
      width: 95%; }

  .button {
    width: 180px;
    font-size: 14px; }
    .button_main {
      width: 200px;
      font-size: 16px; }

  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 70px; }
  .promo__header {
    font-size: 28px;
    text-align: center; }
  .promo__subheader {
    font-size: 16px;
    margin-top: 8px;
    text-align: center; }
  .promo__icons {
    width: 360px; }

  .us__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px; }
  .us__pic img {
    margin-top: 35px; }
  .us__subheader {
    margin-top: 10px; }
  .us__text {
    font-size: 17px; } }

/*# sourceMappingURL=style.css.map */